DATABASE_URL="postgresql://postgres:postgres@localhost:5432/housing?schema=public"
DIRECT_URL="postgresql://postgres:postgres@localhost:5432/housing?schema=public"
CORS_ORIGINS="http://localhost:3000"
PORT=3000
REDIS_URL="redis://localhost:6379"
